<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/final.css">
    <link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
    <title>CRUD - Administrador</title>
</head>
<body>
    <main class="container col-8">
      
      <!--Navbar-->
      <%- include('../partials/headerNegro.ejs') %>
          <br><br><br>
        <section class="seccion row">

          
          

          <article class="titulo d-flex justify-content-center">
            <h1 class="border-bottom border-dark col-12">EDICIÓN DE PRODUCTO</h1>
          </article>

          <br><br>
          
          <article class="formulario col-12">
            <!--errores del FRONT END-->
            <div>
              <ul id="errores">
  
              </ul>
            </div>

            <% if (typeof errors != 'undefined') { %>
                <ul>
                  <% for(var i = 0; i < errors.length; i++) { %>
                  <li> <%= errors[i].msg %> </li>
                  <% } %>
                  </ul>
            <% } %>  

            <form id="edicionProductos" action="/administrador/edit/<%= tourEditar.id%>?_method=PUT" method="POST" enctype="multipart/form-data">
             
              <h6>Carga de imagen:</h6>
              <br>
              <article class="fotoProducto col-12 col-sm-12 col-md-12 col-lg-12   col-xl-12 d-flex justify-content-center mt-2">

                <div class="bg-transparent text-white border-light w-55 p-1 pt-3">
                    <input type="hidden"  name="oldImagen"  value="<%= tourEditar.image%>">
                    <input type="file" class="custom-file-input" id="validatedCustomFile" name="imagen" value="<%= tourEditar.image%>">
                    
                    <label class="custom-file-label" for="validatedCustomFile">Archivo de imagen</label>

                  <figure class="">
                    <img src="/images/estadios/<%= tourEditar.image%> " class="card-img" alt="Estadio">
                  </figure>
                    
                </div>

                
            </article>

              <br>

              <div class="marca-modelo col-12">
                <div class="col-6">
                  <input type="text" placeholder="Nombre del Equipo" name="equipo" class="col-12 form-control"value="<%= tourEditar.footballTeam %>">
               
                </div>

                <div class="col-6">
                  <input type="text" placeholder="Estadio" name="estadio" class="col-12 form-control"value="<%= tourEditar.stadiumName %>">
                </div>
              </div>

              <br>

              <div class="marca-modelo col-12">
                <div class="col-5">
                    <input type="number" placeholder="Precio" name="precio" class="col-12 form-control"value="<%= tourEditar.price%>">
                </div>
              </div>
                
              <!--Descripciones-->
              <div class="mb-3">
                <br>
                <textarea class="form-control" name="descripcion" id="validationTextarea" placeholder="Descripción del producto" ><%= tourEditar.description %></textarea>
                <br>
              </div>
              
              <div class="botones">
              <button type="submit" class="btn btn-lg btn-dark" style="background-color: black">Cargar Producto</button>

              <a href="/administrador" class="btn btn-lg btn-danger" style="background-color: red ; border: red">Volver</a>
              <br><br><br>
              </div>

            </form>
          </article>
        </section>
    </main>
    


    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>
    <script src="/js/editProductos.js"></script>
</body>
</html>